/* global set-up */

* {
	box-sizing: border-box;
}
/* main elements */

html{
	background: url('../images/about_backg.jpg') no-repeat center;
	background-size: cover;
	height:100%;
}


body {
	font-family: 'Helvetica Nue', sans-serif;
	color: 	##708090;
	margin: 0;
	padding: 0;

}

.nav ul {
	list-style: none;
	background: #B0C4DE;
	text-align: center;
	padding: 0;
	margin: 0;
}

.nav li {
	display: inline-block;
}

.nav a{
	text-decoration: none;
	color: #fff;
	width: 100px;
	display: block;
	padding:15px;
	font-size: 17px;
	transition: 0.6s;
}

.nav a:hover {
	display: block;
	color:#FFD700;
	background-color: #e34234;
}

.active {
	border-top: 6px solid #ADD8E6;
}


.box {
	background: #5F9EA0;
	margin: 30px;
  	padding: 20px 40px 40px;
  	text-align: left;
  	border-bottom: 4px solid #ccc;
 	border-radius: 6px;
	padding-bottom: 50px;
	width: 500px;
	height: auto;
	
}

.box:hover{
	border-color:#e34234;
}

.box a{
	color: #87CEFA;
	text-decoration: none;
}

.box a:hover {
	color: red;
}

  main {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin-left: 350px;
      margin-top: 150px;
  }


